.nav {
  list-style: none;
  display: flex;
}

.nav-item {
  display: inline-block;
}

.nav-item:not(:first-child)::before {
  margin: 0 0.5rem;
  display: inline-block;
  content: "|";
}

.form-group {
  column-gap: 0.5rem;
  display: flex;
}
