.NewExpenses {
  padding: 1rem;
  margin: 2rem auto;
  max-width: var(--body-width);
  background-color: var(--secondary);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
}

.btn-add-expense {
  color: var(--fg);
  background-color: var(--primary);
  border: none;
  border-radius: 0.4rem;
  padding: 0.8rem;
}
