.ExpenseDate {
  background-color: var(--bg-dark);
  padding: 0.5rem 0.8rem;
  border: 1px solid var(--fg);
  border-radius: 0.4rem;
  text-align: center;
}

.expense-year {
  color: var(--gray);
  font-size: 0.875rem;
  margin-bottom: 0.3rem;
}

.expense-day {
  font-size: 1.6rem;
  font-weight: 700;
}
