.ExpenseForm {
  display: flex;
  flex-direction: column;
}

.expense-form__body {
  display: flex;
  flex-wrap: wrap;
}

.expense-form__group {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  padding: 0.4rem;
}

.expense-form__group input {
  border-radius: 0.25rem;
  border: none;
  padding: 0.4rem;
}

.expense-form__button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  align-self: end;
  color: var(--fg);
  background-color: var(--primary);
  border: none;
  border-radius: 0.5rem;
}

.expense-form__button:hover {
  opacity: 0.8;
}
