/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/*
MAIN COLOR: #087f5b
GREY COLOR: #343a40
*/

:root {
  --primary: 8, 127, 91;
  --light-green: 9, 146, 104;
  --light-grey: 73, 80, 87;
  --grey: 52, 58, 64;
  --bg: 255, 255, 255;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* LINK */
/* ------------------------ */
.btn:link,
.btn:visited {
  background-color: rgb(var(--primary));
  color: rgb(var(--bg));
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
}

.btn:hover,
.btn:active {
  background-color: rgb(var(--light-green));
}

.btn--big {
  font-size: 18px;
  padding: 16px 32px;
}

.btn--small {
  font-size: 14px;
  padding: 8px 12px;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  font-family: 'Inter', sans-serif;
  color: rgb(var(--grey));
  border-bottom: 8px solid rgb(var(--primary));
}

.container {
  width: 960px;
  margin: 0 auto;
}

header,
section {
  margin-bottom: 95px;
}

h2 {
  margin-bottom: 48px;
  font-size: 36px;
  letter-spacing: -0.5px;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
}

/* ------------------------ */
/* COMPONENT STYLES */
/* ------------------------ */

/* HEADER */
header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  margin-top: 64px;
}

.header-text-box {
  align-self: center;
}

h1 {
  margin-bottom: 32px;
  font-size: 44px;
  line-height: 1.1;
  letter-spacing: -1px;
}

.header-text {
  margin-bottom: 24px;
}

img {
  width: 100%;
}

/* FEATURES */
.features-icon {
  stroke: rgb(var(--primary));
  width: 32px;
  height: 32px;
  margin-bottom: 24px;
}

.features-title {
  margin-bottom: 16px;
  font-size: 20px;
}

.features-text {
  font-size: 18px;
  line-height: 1.7;
}

/* TESTIMONIAL */
.testimonial-section {
  background-color: rgb(var(--primary));
  color: rgb(var(--bg));
  padding: 24px;
}

.testimonial-box {
  grid-column: 2 / -1;
  align-self: center;
}

.testimonial-box h2 {
  margin-bottom: 24px;
  font-size: 24px;
}

.testimonial-text {
  font-style: italic;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.7;
}

/* CHAIRS */
.chair-box {
  padding: 24px;
  font-size: 20px;
}

h3 {
  margin-bottom: 24px;
}

.chair-details {
  list-style: none;
  margin-bottom: 24px;
  font-size: 18px;
}

.chair-details li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

.chair-details li:last-child {
  margin-bottom: 0;
}

.chair-icon {
  stroke: rgb(var(--primary));
  width: 24px;
  height: 24px;
}

.chair-price {
  display: flex;
  justify-content: space-between;
}

footer {
  margin-bottom: 48px;
  font-size: 14px;
  color: rgb(var(--light-grey));
}
